= render partial: "shared/cart_list", locals: {cart: @cart}

.btn-group
  = link_to "繼續選購", products_path, class: "btn btn-default btn-lg"
  = link_to "結帳", checkout_cart_path, class: "btn btn-danger btn-lg"
